<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: head(title=~{::title},links=~{})">
    <title>Forgot Password</title>
  </head>
  <body th:include="layout :: body" th:with="content=~{::content}">

    <div th:fragment="content">
      <script th:inline="javascript">
        var app = angular.module('myApp', []);
        app.controller('forgotPassCtrl', ['$scope', '$http', '$window',
            function ($scope, $http, $window) {

                $scope.submit = function () {
                    $scope.username.status = "PENDING";
                    $http({
                        method: 'POST',
                        url: '/iTrust2/api/v1/tokens',
                        data: $scope.username
                    }).then(function (response) {
                        console.log(response);
                        $scope.message = "Token sent to associated email.";

                        $window.location.href = '/iTrust2/password/tokenPasswordReset';
                    }, function (rejection) {
                        $scope.message = "User with that name could not be found. Make sure your username is correct.";
                        console.log(rejection);
                    });
                };
            }]);
      </script>
      <div ng-app="myApp" ng-controller="forgotPassCtrl">
        <h1>Forgot Password</h1>
        <hr />
        <p>Enter your username and a password reset token will be sent to the email associated with the account. Please note that the tokens expire after 10 minutes.</p>
        <p>Already have a reset token? <a href="/iTrust2/password/tokenPasswordReset">Click here</a></p>
        <table>
          <tr>
            <td style="padding-right:5px"><b>Username:</b></td>
            <td><input type="text" class="form-control" name="username" ng-model="username"
                       required="true" /></td>
            <td style="padding-left: 5px"><button ng-click="submit()" name="submit" class="btn btn-primary">Submit</button></td>
          </tr>
        </table>
        <br />
        <div name="success">{{message}}</div>
      </div>




    </div>

  </div>
</body>
</html>