<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: head(title=~{::title},links=~{})">
    <title>Reset Password</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

  </head>
  <body th:include="layout :: body" th:with="content=~{::content}">

    <div th:fragment="content">
      <script th:inline="javascript">
        var app = angular.module('myApp', []);
        app.controller('resetPassCtrl', ['$scope', '$http',
            function ($scope, $http) {

                $scope.submit = function () {
                    $scope.errormessage = "";
                    $scope.message = "";
                    if (null === $scope.reset.name || null === $scope.reset.code || null === $scope.reset.newPass || null === $scope.reset.repeat) {
                        $scope.errormessage += "Please fill out all fields.";
                        return;
                    }
                    if ($scope.reset.newPass.length < 6) {
                      $scope.errormessage += "Password must be longer than 6 characters.";
                      return;
                    }
                    if ($scope.reset.newPass !== $scope.reset.repeat) {
                        $scope.errormessage += "New passwords do not match.";
                        return;
                    }
                    $http({
                        method: 'POST',
                        url: '/iTrust2/api/v1/tokens/' + $scope.reset.name,
                        data: $scope.reset
                    }).then(function (response) {
                        $scope.message = "Password changed successfully.";
                        $scope.pass = {};
                        console.log(response);
                    }, function (rejection) {
                        $scope.message = "Error changing password. Please check your token for correctness.";
                        console.log(rejection);
                    });
                };
            }]);
      </script>
      <div ng-app="myApp" ng-controller="resetPassCtrl">
        <h1>Reset Password</h1>
        <hr />
        <table>
          <tr>
            <td style="text-align:left;padding:5px"><b>Username:</b></td>
            <td><input type="text" name="username" ng-model="reset.name"
                       required="true" /></td>
            </tr>
            <tr>
            <td style="text-align:left;padding:5px"><b>Token:</b></td>
            <td><input type="text" name="code" ng-model="reset.code"
                       required="true" /></td>
            </tr>
            <tr>
            <td style="text-align:left;padding:5px"><b>Password:</b></td>
            <td><input type="password" name="newpass" ng-model="reset.newPass"
                       required="true" /></td>
            </tr>
            <tr>
            <td style="text-align:left;padding:5px"><b>Confirm Password:</b></td>
            <td><input type="password" name="repeat" ng-model="reset.repeat"
                       required="true" /></td>
          </tr>
        </table>
        <br />
        <button style="text-align:left;padding:5px" ng-click="submit()" name="submit">Submit</button>
        <div name="success">{{message}}</div>
        <div name="error">{{errormessage}}</div>
      </div>




    </div>

  </div>
</body>
</html>