<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: head(title=~{::title},links=~{})">
    <title>Delete Drug</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>
  <body th:include="layout :: body" th:with="content=~{::content}">
    <div th:fragment="content">
      <script th:inline="javascript">
        var app = angular.module('myApp', []);
        app.controller('deleteDrugCtrl', ['$scope', '$http',
            function ($scope, $http) {
                update = function () {
                    $http.get("/iTrust2/api/v1/drugs").then(
                            function (response) {
                                $scope.drugs = response.data;
                                console.log($scope.drugs);
                            });
                };

                update();

                $scope.submit = function (drug) {
                    $http.delete("/iTrust2/api/v1/drugs/" + drug.ndc).then(
                            function (response) {
                                $scope.message = "Drug deleted successfully";
                                console.log(response);
                                update();
                            },
                            function (rejection) {
                                $scope.message = "Error while deleting the drug";
                                console.log(rejection);
                                update();
                            });
                };
            }]);
      </script>
      <div ng-controller="deleteDrugCtrl" ng-app="myApp">
        <h1>Delete Drug</h1>
        <hr />
        <table style="margin:0">
          <tr>
            <td>
              <select name ="list" ng-model="selectedDrug" ng-options="drug.name +   ' | ' +   drug.ndc for drug in drugs" class="form-control"/></select>
            </td>
            <td>
              <button ng-click="submit(selectedDrug)" name="submit" class="btn btn-default">Delete</button>
            </td>
          </tr>
        </table>
        <div name="success">{{message}}</div>
      </div>
    </div>
  </body>
</html>
